.Add {
  font-size: 60px;
  padding: 5px;
  width: 7%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  outline: none;
  margin-left: 20px;
  background-color: #68b3e7;
  border: none;
  position: fixed;
}
.Add:hover {
  color: white;
  transform: scale(1.1);
  z-index: 1;
}
.Components {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}
